name: Link checker

"on":
  schedule:
    - cron: '15 13 * * *'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        directory:
         - zenn
         - hatena-zatsu

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Check hyperlinks
        working-directory: ${{ matrix.directory }}
        run: |
          go install github.com/koba-e964/link-checker@v0.0.2
          link-checker
